{% extends 'base.html' %}
{% block title %}
Login Page
{% endblock %}

{% block content %}
<div class="container text-center" style="margin-top: 5%;">
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <img src="https://thumbs.dreamstime.com/b/happy-customer-holding-package-ordered-vector-cartoon-cheerful-person-receiving-cardboard-parcel-box-shopping-online-258379207.jpg" class="card-img-top" alt="..." height="500" width="500">
        <div class="card-body">
          <h5 class="card-title">Login as Customer</h5>
          <a href="{{ url_for('login_customer_page') }}" class="btn btn-primary">Login as Customer</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img src="https://static.vecteezy.com/system/resources/previews/005/380/465/original/businessman-presenting-diagram-chart-marketing-concept-business-man-character-cartoon-bearded-manager-presenting-financial-results-free-vector.jpg" class="card-img-top" alt="..." height="500" width="500">
        <div class="card-body">
          <h5 class="card-title">Login as Employee</h5>
          <a href="{{ url_for('login_employee_page') }}" class="btn btn-primary">Login as Employee</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}